# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*

# VS Code
.vscode/

# Flask
instance/

# Local database
*.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log